body { 
  background-color:#FBFAE7;
  background-image:
    radial-gradient(rgba(190,200,10,.69), rgba(140,145,120,.1) 2px, transparent 40px),
    radial-gradient(grey, rgba(140,145,120,.1) 2px, transparent 30px),
    radial-gradient(rgba(190,200,10,.69), rgba(140,145,120,.01) 2px, transparent 50px),
    radial-gradient(rgba(140,145,120,.25), rgba(140,145,120,.1) 2px, transparent 30px);
  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}
* {
  font-family: monospace;
}

